body {
  background-color: rgb(73, 73, 73);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  min-height: 100vh;
  color: white;
  position: relative;
  
}

.dot {
  width: 10px;
  height: 10px;
  background-color: rgb(255, 102, 102);
  border-radius: 50%;
}

.buttons {
  width: 100%;
  margin: 0;
  padding: 0;
}

.buttons > button {
  padding: 5px;
  width: 50%;
}